<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Desenhe com seu Amor 💖</title>
    <link rel="stylesheet" href="/jogo/jogo.css">
</head>
<body>

    <div class="top-bar">
        <a href="/conteudo.html">🏠 Home</a>
        <h1>Desenhe com seu amor 💖</h1>
        <div></div>
    </div>

    <div class="controls">
        <label for="colorPicker">🎨 Cor do pincel:</label>
        <input type="color" id="colorPicker" value="#d63384">
        <button onclick="clearCanvas()">🧼 Limpar tela</button>
        <button onclick="salvarDesenho()">💾 Salvar desenho</button>
    </div>

    <canvas id="canvas" width="800" height="600"></canvas>

    <audio autoplay loop>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

        <source src="{{ url_for('static', filename='musica-romantica.mp3') }}" type="audio/mpeg">
        Seu navegador não suporta áudio.
    </audio>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>
